@using Internet_banking.Core.Application.ViewModels.User

@{
    ViewData["Title"] = "Administrador de usuarios";
    var lista = ViewBag.listausuarios;
}

<div class="w-100 bg-whitegray d-flex flex-column justify-content-start align-items-start" style="height: 82.4vh">
   
    <!-- this is the title -->
    <section class="bg-purple w-100 p-2 d-flex flex-row justify-content-between align-items-center">
        <div>
            <h2 class="text-white m-0">Tablero / Administrador de usuarios</h2>
            <small class="m-0 text-white">Esta sección es para manejar usuarios</small>
        </div>

        <a asp-controller="AdmUsers" asp-action="Register" class="btn btn-light">
            Añadir nuevo usuario
        </a>
    </section>

    <section class="w-100 h-100 bg-whitegray d-flex flex-row justify-content-center gap-2 align-items-center">
        
        <!-- Reading the users -->
        @if(lista != null)
        {
           


            <div class="w-75 h-75 table-responsive bg-white rounded">
                <table class="table table">
                  <thead>
                    <tr class="text-center">
                      <th scope="col">Nombre</th>
                      <th scope="col">Apellido</th>
                      <th scope="col">Telefono</th>
                      <th scope="col">Nombre Usuario</th>
                      <th scope="col">Rol</th>
                      <th scope="col">¿Está activo?</th>
                      <th scope="col">Acción </th>
                    </tr>
                  </thead>
                  <tbody>
                      @foreach (UserViewModel item in lista){
                    <tr class="align-middle text-center">
                      <td>@item.FirstName</td>
                      <td>@item.LastName</td>
                      <td>@item.PhoneNumber</td>
                      <td>@item.UserName</td>
                      <td>Cliente</td>
                      <td>@item.EmailConfirmed</td>
                       @if (item.EmailConfirmed){
                           <td>Desactivar  </td>
                      }else {  <td>Activar </td> }
                      
                      <td> 
                          <div class="w-full d-flex flex-row justify-content-between align-items-center">
                              <a asp-controller="AdmUsers" asp-action="Update" asp-route-id="@item.Id" class="mx-2 w-50 btn btn-purple d-flex flex-row justify-content-evenly align-items-center">
                                  <svg viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" width="20" height="20">
                                      <path d="M.5 9.5l-.354-.354L0 9.293V9.5h.5zm9-9l.354-.354a.5.5 0 00-.708 0L9.5.5zm5 5l.354.354a.5.5 0 000-.708L14.5 5.5zm-9 9v.5h.207l.147-.146L5.5 14.5zm-5 0H0a.5.5 0 00.5.5v-.5zm.354-4.646l9-9-.708-.708-9 9 .708.708zm8.292-9l5 5 .708-.708-5-5-.708.708zm5 4.292l-9 9 .708.708 9-9-.708-.708zM5.5 14h-5v1h5v-1zm-4.5.5v-5H0v5h1zM6.146 3.854l5 5 .708-.708-5-5-.708.708zM8 15h7v-1H8v1z" fill="currentColor"></path>
                                  </svg>
                                  Editar
                              </a>
                              <a asp-controller="AdmUsers" asp-action="Activar" asp-route-id="@item.Id" class="w-50 mx-2 btn btn-success d-flex flex-row justify-content-evenly align-items-center">
                                  <svg viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" width="20" height="20">
                                      <path d="M7.5 14.5A7 7 0 013.17 2M7.5.5A7 7 0 0111.83 13m-.33-3v3.5H15M0 1.5h3.5V5" stroke="currentColor"></path>
                                  </svg>
                                  Activar
                               </a>
                              <a asp-controller="AdmUsers" asp-action="Desactivar" asp-route-id="@item.Id" class="w-50 mx-2 btn btn-danger d-flex flex-row justify-content-evenly align-items-center">
                                  <svg viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" width="20" height="20"><path d="M4.5 3V1.5a1 1 0 011-1h4a1 1 0 011 1V3M0 3.5h15m-13.5 0v10a1 1 0 001 1h10a1 1 0 001-1v-10M7.5 7v5m-3-3v3m6-3v3" stroke="currentColor"></path></svg>
                                  Desactivar
                               </a>
                          </div>
                      </td>
                      
                    </tr>
                    }
                  </tbody>
                  
                </table>
            </div>
        }
        else 
        {
            <div class="w-75 h-75 table-responsive bg-white rounded">
                <h1>Oops!</h1>
                <p>Parece ser que no hay usuarios para manejar</p>
            </div>
        }

    </section>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
